<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Daniel-projekty-3semestr/Ziarna/test/code.grainGrowthAlgorithms/GrainGrowthTest.java">
        <classes>
            <class name="test.grainGrowthAlgorithms.GrainGrowthTest">
                <methods>
                    <include name="testCalculate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>